.Filter-parent {
    width: 100%;
    height: 80px;  /* Increased height for better visibility */
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Disables vertical scrolling */
    scroll-behavior: smooth; /* Smooth scroll */
    cursor: grab; /* Cursor when ready to grab */
    white-space: nowrap; /* Prevent wrapping of child items */
    user-select: none; /* Prevent text selection */
}

/* Hide the scrollbar */
.Filter-parent::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit-based browsers */
}

.Filter-parent {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.Filter-parent:active {
    cursor: grabbing; /* Cursor when actively dragging */
}

.Filter-active, .Filter-unactive {
    min-width: 175px;
    padding: 10px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px; /* Margin between items */
}

.Filter-active {
    background: #000;
}

.Filter-active p, .Filter-unactive p {
    color: #FFF;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Filter-unactive p {
    color: #000000;
}

/* Responsive for small devices */
@media (max-width: 600px) {
    .Filter-parent {
        padding: 10px;
        height: 60px;
    }

    .Filter-active, .Filter-unactive {
        min-width: 140px;
        height: 50px;
    }

    .Filter-active p, .Filter-unactive p {
        font-size: 14px;
    }
}

/* Responsive for medium devices */
@media (max-width: 768px) {
    .Filter-parent {
        padding: 15px;
        height: 70px;
    }

    .Filter-active, .Filter-unactive {
        min-width: 160px;
        height: 50px;
    }

    .Filter-active p, .Filter-unactive p {
        font-size: 15px;
    }
}

/* Responsive for large devices */
@media (min-width: 1024px) {
    .Filter-parent {
        padding: 20px;
        height: 80px;
    }

    .Filter-active, .Filter-unactive {
        min-width: 175px;
        height: 55px;
    }

    .Filter-active p, .Filter-unactive p {
        font-size: 16px;
    }
}
